.formularios {
    display: grid;
    justify-content: center;
    margin: 5rem;
    gap: 2rem;
    grid-template-columns: 2fr 1fr;
}

.formularios form h2 {
    font-size: 2rem;
    color: #212121;
    font-weight: 400;
}

.formularios form {
    max-width: 80%;
    background-color: #F6F6F6;
    border-radius: 1.25rem;
    padding: 1rem 4rem; 
    box-shadow: 0px 4px 4px 0px #00000040;
}

@media screen and (max-width: 430px) {
    .formularios {
        margin: 0;
        grid-template-columns: 1fr;
    }

    .formularios form {
        border-radius: 0;
        padding: 1rem 1.5rem 3rem; 
        max-width: 100%;
        box-shadow: none;
    }
}