.time {
    text-align: center;
    padding: 2rem;
}

.time h3 {
    font-size: 2rem;
    padding-bottom: 1rem;
    color: var(--black);
    display: inline-block;
    border-bottom: 4px solid;
}

.time .colaboradores {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2rem;
    justify-content: space-around;
    gap: 2rem;
}