.campo-texto {
    margin: 1.5rem 0;
}

.campo-texto label {
    display: block;
    margin-bottom: .5rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.campo-texto input {
    border: none;
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.100);
    width: 100%;
    font-size: 1.125rem;
    padding: 1.5rem;
    box-sizing: border-box;
}

.campo-texto input[type='color'] {
    width: 15%;
    padding: initial;
}

.cor-selecionada {
    margin-top: -1rem;
}