.lista-suspensa {
}

.lista-suspensa label {
    display: block;
    margin-bottom: 0.5rem;
    font-size: 1.125rem;
    font-weight: 600;
}

.lista-suspensa select {
    border: none;
    background-color: #fff;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.1);
    width: 100%;
    font-size: 1.125rem;
    padding: 1.5rem;
    box-sizing: border-box;
}
